USE [LiZhiOS]
GO
/****** Object:  Table [dbo].[T_SignIN]    Script Date: 2016/11/27 13:49:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_SignIN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IsDelete] [bit] NULL,
	[CreateTime] [datetime] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[belong] [nvarchar](50) NOT NULL,
	[am] [nvarchar](50) NULL,
	[pm] [nvarchar](50) NULL,
	[nm] [nvarchar](50) NULL,
	[toDay] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_User]    Script Date: 2016/11/27 13:49:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IsDelete] [bit] NULL,
	[CreateTime] [datetime] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[UserPassWord] [nvarchar](50) NOT NULL,
	[UserSex] [bit] NULL,
	[UserQQ] [bigint] NULL,
	[UserPhone] [bigint] NULL,
	[UserStuID] [bigint] NOT NULL,
	[UserFname] [nvarchar](50) NULL,
	[UserIP] [nvarchar](50) NULL,
	[belong] [nvarchar](50) NULL,
 CONSTRAINT [PK_T_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[T_SignIN] ON 

INSERT [dbo].[T_SignIN] ([ID], [IsDelete], [CreateTime], [name], [belong], [am], [pm], [nm], [toDay]) VALUES (1, NULL, CAST(0x0000A5ED01426412 AS DateTime), N'王翔宇', N'.NET', N'wait', N'wait', N'19:33', N'2016/04/19')
INSERT [dbo].[T_SignIN] ([ID], [IsDelete], [CreateTime], [name], [belong], [am], [pm], [nm], [toDay]) VALUES (45, NULL, CAST(0x0000A65100F14258 AS DateTime), N'王翔宇', N'.NET', N'wait', N'14:38', N'wait', N'2016/07/28')
INSERT [dbo].[T_SignIN] ([ID], [IsDelete], [CreateTime], [name], [belong], [am], [pm], [nm], [toDay]) VALUES (3, NULL, CAST(0x0000A5ED01454105 AS DateTime), N'王翔宇', N'.NET', N'wait', N'wait', N'19:44', N'2016/04/19')
GO
SET IDENTITY_INSERT [dbo].[T_SignIN] OFF
SET IDENTITY_INSERT [dbo].[T_User] ON 

INSERT [dbo].[T_User] ([ID], [IsDelete], [CreateTime], [UserName], [UserPassWord], [UserSex], [UserQQ], [UserPhone], [UserStuID], [UserFname], [UserIP], [belong]) VALUES (1, NULL, CAST(0x0000A5EB01057813 AS DateTime), N'1', N'1', 1, NULL, NULL, 1, N'王翔宇', N'::1', N'.NET')
INSERT [dbo].[T_User] ([ID], [IsDelete], [CreateTime], [UserName], [UserPassWord], [UserSex], [UserQQ], [UserPhone], [UserStuID], [UserFname], [UserIP], [belong]) VALUES (2, NULL, CAST(0x0000A5EC0164C89A AS DateTime), N'2', N'2', NULL, NULL, NULL, 2, N'2', N'2', N'2')
SET IDENTITY_INSERT [dbo].[T_User] OFF
ALTER TABLE [dbo].[T_SignIN] ADD  CONSTRAINT [DF_T_SignIN_CreatTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[T_SignIN] ADD  CONSTRAINT [DF_T_SignIN_am]  DEFAULT (N'wait') FOR [am]
GO
ALTER TABLE [dbo].[T_SignIN] ADD  CONSTRAINT [DF_T_SignIN_pm]  DEFAULT (N'wait') FOR [pm]
GO
ALTER TABLE [dbo].[T_SignIN] ADD  CONSTRAINT [DF_T_SignIN_nm]  DEFAULT (N'wait') FOR [nm]
GO
ALTER TABLE [dbo].[T_User] ADD  CONSTRAINT [DF_T_User_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
