USE [LiZhiOs]
GO
/****** Object:  Table [dbo].[Article]    Script Date: 2017/1/6 16:54:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Article](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Article] [nvarchar](max) NULL,
 CONSTRAINT [PK_Article] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comment]    Script Date: 2017/1/6 16:54:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ArticleId] [int] NOT NULL,
	[CId] [int] NOT NULL,
	[CommentContent] [nvarchar](max) NOT NULL,
	[CreateTime] [datetime] NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_Article]    Script Date: 2017/1/6 16:54:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Article](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IsDelete] [bit] NULL,
	[CreateTime] [datetime] NOT NULL,
	[BelongKind] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[BelongUser] [int] NOT NULL,
	[BelongKind_Type] [nvarchar](50) NOT NULL,
	[MostBrowse] [int] NULL,
 CONSTRAINT [PK_T_Article] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_ArticleGroup]    Script Date: 2017/1/6 16:54:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_ArticleGroup](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BelongGroup] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_T_ArticleTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_ArticleGroupType]    Script Date: 2017/1/6 16:54:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_ArticleGroupType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BelongType] [nvarchar](50) NOT NULL,
	[IDCount] [int] NOT NULL,
 CONSTRAINT [PK_T_ArticleGroupType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_EnjoyArticle]    Script Date: 2017/1/6 16:54:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_EnjoyArticle](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ArticleID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[IsDelete] [bit] NULL,
	[MessTem] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_T_EnjoyArticle] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_EnjoyMessages]    Script Date: 2017/1/6 16:54:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_EnjoyMessages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MessagesID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[ArticleID] [int] NOT NULL,
 CONSTRAINT [PK_T_EnjoyMessages] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_Managers]    Script Date: 2017/1/6 16:54:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_Managers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[UserPassWord] [nvarchar](50) NOT NULL,
	[UserSex] [char](5) NOT NULL,
	[UserQQ] [bigint] NOT NULL,
	[UserPhone] [bigint] NOT NULL,
	[UserStuID] [bigint] NOT NULL,
	[UserFname] [nvarchar](50) NULL,
	[UserIP] [nvarchar](50) NOT NULL,
	[belong] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_T_Managers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_Messages]    Script Date: 2017/1/6 16:54:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Messages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IsDelete] [bit] NULL,
	[CreateTime] [datetime] NOT NULL,
	[MessTem] [nvarchar](50) NOT NULL,
	[ArticleID] [int] NOT NULL,
	[MessBelong] [nvarchar](max) NOT NULL,
	[CID] [int] NOT NULL,
	[CommentUser] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_T_Messages] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_SignIN]    Script Date: 2017/1/6 16:54:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_SignIN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IsDelete] [bit] NULL,
	[CreateTime] [datetime] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[belong] [nvarchar](50) NOT NULL,
	[am] [nvarchar](50) NULL,
	[pm] [nvarchar](50) NULL,
	[nm] [nvarchar](50) NULL,
	[toDay] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_SuperManagers]    Script Date: 2017/1/6 16:54:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_SuperManagers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[UserPassWord] [nvarchar](50) NOT NULL,
	[UserSex] [char](5) NULL,
	[UserQQ] [bigint] NULL,
	[UserPhone] [bigint] NULL,
	[UserStuID] [bigint] NOT NULL,
	[UserFname] [nvarchar](50) NULL,
	[UserIP] [nvarchar](50) NULL,
 CONSTRAINT [PK_T_SuperManagers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_User]    Script Date: 2017/1/6 16:54:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[UserPassWord] [nvarchar](50) NOT NULL,
	[UserSex] [nvarchar](5) NULL,
	[UserStuID] [bigint] NOT NULL,
	[UserIP] [nvarchar](50) NOT NULL,
	[Belong] [nvarchar](50) NOT NULL,
	[UserQQ] [bigint] NULL,
	[UserPhone] [bigint] NULL,
	[UserFname] [nvarchar](50) NULL,
 CONSTRAINT [PK_T_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_Users]    Script Date: 2017/1/6 16:54:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[UserPassWord] [nvarchar](50) NOT NULL,
	[UserSex] [nvarchar](5) NULL,
	[UserQQ] [bigint] NULL,
	[UserPhone] [bigint] NULL,
	[UserStuID] [bigint] NOT NULL,
	[UserFname] [nvarchar](50) NULL,
	[UserIP] [nvarchar](50) NULL,
	[belong] [nvarchar](50) NULL,
 CONSTRAINT [PK_T_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Article] ON 

INSERT [dbo].[Article] ([Id], [Article]) VALUES (1, N'文章1')
INSERT [dbo].[Article] ([Id], [Article]) VALUES (2, N'文章2')
SET IDENTITY_INSERT [dbo].[Article] OFF
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([Id], [ArticleId], [CId], [CommentContent], [CreateTime]) VALUES (1, 1, 0, N'文章1一级评论', CAST(0x0000A67801452AEF AS DateTime))
INSERT [dbo].[Comment] ([Id], [ArticleId], [CId], [CommentContent], [CreateTime]) VALUES (2, 1, 1, N'文章1二级评论', CAST(0x0000A6780145379D AS DateTime))
INSERT [dbo].[Comment] ([Id], [ArticleId], [CId], [CommentContent], [CreateTime]) VALUES (3, 1, 2, N'文章1三级评论', CAST(0x0000A67801453B43 AS DateTime))
SET IDENTITY_INSERT [dbo].[Comment] OFF
SET IDENTITY_INSERT [dbo].[T_Article] ON 

INSERT [dbo].[T_Article] ([ID], [IsDelete], [CreateTime], [BelongKind], [Title], [Content], [BelongUser], [BelongKind_Type], [MostBrowse]) VALUES (1028, 0, CAST(0x0000A6880135F33D AS DateTime), N'.Net', N'你知道吗', N'<p>一群人旅游，遇一个劫匪，劫匪说：“我打劫有个规矩，第一个只交100元，第二个交150元，第三个200元，以此类推，早交早划算，怎样？”</p><p>于是游客争先恐后排队交钱，相互推搡。匪徒一边收钱一边维持秩序：“别推，谁插队谁排到最后面去。”一时秩序井然。</p><p>事后排第一的说：“真好，只损失100元。”</p><p><br/></p>', 1, N'asp', 3)
INSERT [dbo].[T_Article] ([ID], [IsDelete], [CreateTime], [BelongKind], [Title], [Content], [BelongUser], [BelongKind_Type], [MostBrowse]) VALUES (1035, 0, CAST(0x0000A688013BD445 AS DateTime), N'Android', N'Hanoi（汉诺）塔问题分析', N'<p style="text-align:left;text-indent:28px;text-autospace:none"><strong><span style=";font-family:宋体;color:black">这是一个古典的数学问题，是一个用递归方法解题的典型例子。问题是这样的：古代有一个梵塔，塔内有3个座 A,B,C。开始时A座上有64个盘子，盘子大小不等，大的在下，小的在上。有一个老和尚想把这64个盘子从A座移到C座，但规定每次只允许移动一个盘子，且在移动过程中在3个座上都始终保持大盘在下，小盘在上。在移动过程中可以利用B座。要求编程序输出移动盘子的步骤。</span></strong></p><p><br/></p>', 1, N'javaee', 1)
SET IDENTITY_INSERT [dbo].[T_Article] OFF
SET IDENTITY_INSERT [dbo].[T_ArticleGroup] ON 

INSERT [dbo].[T_ArticleGroup] ([ID], [BelongGroup]) VALUES (1, N'.Net')
INSERT [dbo].[T_ArticleGroup] ([ID], [BelongGroup]) VALUES (2, N'Front-end')
INSERT [dbo].[T_ArticleGroup] ([ID], [BelongGroup]) VALUES (3, N'Android')
SET IDENTITY_INSERT [dbo].[T_ArticleGroup] OFF
SET IDENTITY_INSERT [dbo].[T_ArticleGroupType] ON 

INSERT [dbo].[T_ArticleGroupType] ([ID], [BelongType], [IDCount]) VALUES (1, N'winform', 1)
INSERT [dbo].[T_ArticleGroupType] ([ID], [BelongType], [IDCount]) VALUES (2, N'CSS', 2)
INSERT [dbo].[T_ArticleGroupType] ([ID], [BelongType], [IDCount]) VALUES (3, N'java', 3)
SET IDENTITY_INSERT [dbo].[T_ArticleGroupType] OFF
SET IDENTITY_INSERT [dbo].[T_EnjoyArticle] ON 

INSERT [dbo].[T_EnjoyArticle] ([ID], [ArticleID], [UserID], [IsDelete], [MessTem]) VALUES (19, 1041, 1, 0, N'Android')
INSERT [dbo].[T_EnjoyArticle] ([ID], [ArticleID], [UserID], [IsDelete], [MessTem]) VALUES (20, 1040, 1, 0, N'Android')
INSERT [dbo].[T_EnjoyArticle] ([ID], [ArticleID], [UserID], [IsDelete], [MessTem]) VALUES (21, 1039, 3, 0, N'Android')
SET IDENTITY_INSERT [dbo].[T_EnjoyArticle] OFF
SET IDENTITY_INSERT [dbo].[T_EnjoyMessages] ON 

INSERT [dbo].[T_EnjoyMessages] ([ID], [MessagesID], [UserID], [ArticleID]) VALUES (49, 60, 3, 1039)
INSERT [dbo].[T_EnjoyMessages] ([ID], [MessagesID], [UserID], [ArticleID]) VALUES (50, 60, 1, 1039)
INSERT [dbo].[T_EnjoyMessages] ([ID], [MessagesID], [UserID], [ArticleID]) VALUES (51, 62, 1, 1039)
SET IDENTITY_INSERT [dbo].[T_EnjoyMessages] OFF
SET IDENTITY_INSERT [dbo].[T_Managers] ON 

INSERT [dbo].[T_Managers] ([ID], [IsDelete], [CreateTime], [UserName], [UserPassWord], [UserSex], [UserQQ], [UserPhone], [UserStuID], [UserFname], [UserIP], [belong]) VALUES (1, 0, CAST(0x0000A65200BB7E19 AS DateTime), N'江迪', N'jiangdi', N'女   ', 123456789, 123456789, 123456789, N'迪姐', N'::1', N'Android')
INSERT [dbo].[T_Managers] ([ID], [IsDelete], [CreateTime], [UserName], [UserPassWord], [UserSex], [UserQQ], [UserPhone], [UserStuID], [UserFname], [UserIP], [belong]) VALUES (2, 0, CAST(0x0000A65200BB7E19 AS DateTime), N'高科研', N'gaokeyan', N'女   ', 123456789, 123456789, 123456789, N'学霸', N'::1', N'Android')
INSERT [dbo].[T_Managers] ([ID], [IsDelete], [CreateTime], [UserName], [UserPassWord], [UserSex], [UserQQ], [UserPhone], [UserStuID], [UserFname], [UserIP], [belong]) VALUES (3, 0, CAST(0x0000A65200BB7E19 AS DateTime), N'王翔宇', N'wangxiangyu', N'男   ', 1234556789, 1234567889, 123456789, N'大神', N'::1', N'.Net')
SET IDENTITY_INSERT [dbo].[T_Managers] OFF
SET IDENTITY_INSERT [dbo].[T_Messages] ON 

INSERT [dbo].[T_Messages] ([ID], [IsDelete], [CreateTime], [MessTem], [ArticleID], [MessBelong], [CID], [CommentUser]) VALUES (86, 0, CAST(0x0000A6B40167CE44 AS DateTime), N'Android', 1038, N'<p>多谢几条评论啊<br/></p>', 0, N'高科研')
INSERT [dbo].[T_Messages] ([ID], [IsDelete], [CreateTime], [MessTem], [ArticleID], [MessBelong], [CID], [CommentUser]) VALUES (91, 0, CAST(0x0000A6B401686BF4 AS DateTime), N'Android', 1038, N'你看你这人', 90, N'汪宇')
INSERT [dbo].[T_Messages] ([ID], [IsDelete], [CreateTime], [MessTem], [ArticleID], [MessBelong], [CID], [CommentUser]) VALUES (92, 0, CAST(0x0000A6B40168805F AS DateTime), N'Android', 1038, N'你们这组组员不中啊', 86, N'汪宇')
SET IDENTITY_INSERT [dbo].[T_Messages] OFF
SET IDENTITY_INSERT [dbo].[T_SignIN] ON 

INSERT [dbo].[T_SignIN] ([ID], [IsDelete], [CreateTime], [name], [belong], [am], [pm], [nm], [toDay]) VALUES (1, 1, CAST(0x0000A5ED01426412 AS DateTime), N'王翔宇', N'.NET', N'wait', N'wait', N'19:33', N'2016/04/19')
INSERT [dbo].[T_SignIN] ([ID], [IsDelete], [CreateTime], [name], [belong], [am], [pm], [nm], [toDay]) VALUES (45, NULL, CAST(0x0000A65100F14258 AS DateTime), N'王翔宇', N'.NET', N'wait', N'14:38', N'wait', N'2016/07/28')
INSERT [dbo].[T_SignIN] ([ID], [IsDelete], [CreateTime], [name], [belong], [am], [pm], [nm], [toDay]) VALUES (3, 1, CAST(0x0000A5ED01454105 AS DateTime), N'王翔宇', N'.NET', N'wait', N'wait', N'19:44', N'2016/04/19')
GO
SET IDENTITY_INSERT [dbo].[T_SignIN] OFF
SET IDENTITY_INSERT [dbo].[T_SuperManagers] ON 

INSERT [dbo].[T_SuperManagers] ([ID], [CreateTime], [UserName], [UserPassWord], [UserSex], [UserQQ], [UserPhone], [UserStuID], [UserFname], [UserIP]) VALUES (1, CAST(0x0000A65200BB7E19 AS DateTime), N'王瑞光', N'wangruiguang', N'男   ', 987654321, 987654321, 987654321, N'王瑞光', N'::1')
SET IDENTITY_INSERT [dbo].[T_SuperManagers] OFF
SET IDENTITY_INSERT [dbo].[T_User] ON 

INSERT [dbo].[T_User] ([ID], [IsDelete], [CreateTime], [UserName], [UserPassWord], [UserSex], [UserStuID], [UserIP], [Belong], [UserQQ], [UserPhone], [UserFname]) VALUES (1, 0, CAST(0x0000A65200AB0359 AS DateTime), N'汪宇', N'wangyu', NULL, 11223654789452, N'::1', N'Front-end', NULL, NULL, N'阿尔法汪')
INSERT [dbo].[T_User] ([ID], [IsDelete], [CreateTime], [UserName], [UserPassWord], [UserSex], [UserStuID], [UserIP], [Belong], [UserQQ], [UserPhone], [UserFname]) VALUES (3, 0, CAST(0x0000A65200BB7E19 AS DateTime), N'程创业', N'chengchuagnye', NULL, 123456789, N'::1', N'.Net', NULL, NULL, N'111')
INSERT [dbo].[T_User] ([ID], [IsDelete], [CreateTime], [UserName], [UserPassWord], [UserSex], [UserStuID], [UserIP], [Belong], [UserQQ], [UserPhone], [UserFname]) VALUES (4, 0, CAST(0x0000A65200BB7E19 AS DateTime), N'王瑞光', N'wangruiguang', NULL, 784656416, N'::1', N'Front-end', NULL, NULL, N'老大')
SET IDENTITY_INSERT [dbo].[T_User] OFF
SET IDENTITY_INSERT [dbo].[T_Users] ON 

INSERT [dbo].[T_Users] ([ID], [IsDelete], [CreateTime], [UserName], [UserPassWord], [UserSex], [UserQQ], [UserPhone], [UserStuID], [UserFname], [UserIP], [belong]) VALUES (3, 0, CAST(0x0000A688013C18A5 AS DateTime), N'ccy', N'ccy', N'男', NULL, NULL, 0, N'ccy', N'10.212.164.167', N'.Net')
INSERT [dbo].[T_Users] ([ID], [IsDelete], [CreateTime], [UserName], [UserPassWord], [UserSex], [UserQQ], [UserPhone], [UserStuID], [UserFname], [UserIP], [belong]) VALUES (5, 0, CAST(0x0000A688013C18A5 AS DateTime), N'汪宇', N'wang', NULL, NULL, NULL, 0, NULL, N'10.212.164.167', N'Front-end')
INSERT [dbo].[T_Users] ([ID], [IsDelete], [CreateTime], [UserName], [UserPassWord], [UserSex], [UserQQ], [UserPhone], [UserStuID], [UserFname], [UserIP], [belong]) VALUES (6, 0, CAST(0x0000A688013C18A5 AS DateTime), N'程创业', N'cheng', NULL, NULL, NULL, 0, NULL, N'10.212.164.167', N'.Net')
SET IDENTITY_INSERT [dbo].[T_Users] OFF
ALTER TABLE [dbo].[T_SignIN] ADD  CONSTRAINT [DF_T_SignIN_CreatTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[T_SignIN] ADD  CONSTRAINT [DF_T_SignIN_am]  DEFAULT (N'wait') FOR [am]
GO
ALTER TABLE [dbo].[T_SignIN] ADD  CONSTRAINT [DF_T_SignIN_pm]  DEFAULT (N'wait') FOR [pm]
GO
ALTER TABLE [dbo].[T_SignIN] ADD  CONSTRAINT [DF_T_SignIN_nm]  DEFAULT (N'wait') FOR [nm]
GO
ALTER TABLE [dbo].[T_User] ADD  CONSTRAINT [DF_T_User_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Article] FOREIGN KEY([ArticleId])
REFERENCES [dbo].[Article] ([Id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comments_Article]
GO
ALTER TABLE [dbo].[T_Article]  WITH CHECK ADD  CONSTRAINT [FK_T_Article_T_User] FOREIGN KEY([BelongUser])
REFERENCES [dbo].[T_User] ([ID])
GO
ALTER TABLE [dbo].[T_Article] CHECK CONSTRAINT [FK_T_Article_T_User]
GO
ALTER TABLE [dbo].[T_ArticleGroupType]  WITH CHECK ADD  CONSTRAINT [FK_T_ArticleGroupType_T_ArticleGroup] FOREIGN KEY([IDCount])
REFERENCES [dbo].[T_ArticleGroup] ([ID])
GO
ALTER TABLE [dbo].[T_ArticleGroupType] CHECK CONSTRAINT [FK_T_ArticleGroupType_T_ArticleGroup]
GO
