<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
    <system.web>
      <!--<customErrors mode="Off" />-->

      <compilation debug="true" targetFramework="4.0" />
      <httpRuntime requestValidationMode="2.0" maxUrlLength="9999" />
   
    </system.web>
  <connectionStrings>
    <!--<add name="connstr" connectionString="server=.;database=LiZhiOS;uid=LiZhiOS;pwd=lizhi@123" />-->
    <add name="connstr" connectionString="server=.;database=LiZhiOS;uid=943820313;pwd=ccy943820313" />
  </connectionStrings>

<!--<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      --><!--<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />--><!--
    </handlers>
  </system.webServer>-->


  <system.webServer>
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <clear />
        <add value="Index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
